*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
header{
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 20px 90px;
    justify-content: space-between;
}
.menu-toggle{
    display: none;
}
.navbar, .menu{
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    color: red;
    font-size: 1.5rem;
    
}
.menu{
    align-items: center;
}
.menu  * {
    text-decoration: none;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0px;
    cursor: pointer;
}

a:hover {
    color: gray;
}
.totality{
    width: 100%;
    height: auto;
    
}
.banner-con{
    width: 100%;
    display: flex;
    height: 80%;
    /* justify-content: space-between; */
}

.banner{
    height: 100%;
    width: 55%;
    padding-top: 7%;
    padding-left: 90px;
    /* background-color: #F6F9FB; */
}
h1{
    font-size: 3.6rem;
}
.banner > p{
    font-size: 1.4rem;
    margin: 30px 0px;
}

span{
    color: #20AE26;
}
.imgbanner-div{
    height: 100%;
    width: 40%;
}
#banner-img{
    height: 100%;
    width: 100%;
}
.search-div{
    display: flex;
    width: 600px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-shadow: 0px 20px 95px 0px #c9cbccb6;
    border-radius: 10px;

    
}
#search-img{
    border: none;
    font-size: 1.2rem;
    padding-left: 5px;
}
.fa-magnifying-glass{
    margin-left: 10px;
    width: 20px;
}
button{
    height: 80%;
    width: 100px;
    border-radius: 10px;
    background-color: #18629F;
    color: white;
    font-size: 1.2rem;
}

/* sECOND */
.courses{
    width: 100%;
    background-color: #F6F9FB;
    padding: 60px 0px;
}
.course-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.c-one{
    width: 12%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.inli{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
#most{
    text-align: center;
    font-size: 3rem;
    color: #18629F;
    margin-bottom: 10px;
}

.popular{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
}
.p-one{
    width: 10%;
    padding: 10px;
    
}
.p-one > p{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
#go{
    width: 100px;
    background-color: #18629F;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.dev-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
    
}
.dev-con{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.dev{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 3px solid rgba(128, 128, 128, 0.562);
    margin-bottom: 10px;
}
.dev-name{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
}
.dev-name > p{
    margin-left: auto;

}
.dev-name > img{
    width: 40px;
}
/* Third Section */
.learners, h2{
    text-align: center;
}
h2{
    font-size: 2.4rem;
}
.learners{
    padding: 50px 0px;
}
#green{
    color: #20AE26;
}
.learners-con{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    overflow: hidden;
    margin: 50px 0px;
    

}

.inlearn{
    width: 500px;
    box-shadow: 0px 20px 95px 2px #c9cbccab;

}
.tolearn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-div{
    width: 100%;
    background-color: #F6F9FB;
    padding: 30px 0px;
}
.blog-div h2{
    color: #18629F;
}
.blog-con{
    display: flex;
}
.inblog{
    text-align: left;
}
.inblog > h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.inblog > h4{
    margin-bottom: 10px;
}
.upcoming > h2{
    color: black;
}

/* Library Part */
.lib{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 255, 255, 0.438);
}
.sub-con{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
}

/* Awesome workshop */
.awesome > h4{
    text-align: center;
}
.grid-con{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    align-items: center;
    gap: 15px 40px;
    /* grid-template-columns: auto auto; */
}

/* footer */
.about-div{
    width: 100%;
}
.about-us{
    display: flex;
    justify-content: space-between;
}
.ref{
    display: flex;
    justify-content: center;
}
footer{
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*